@model University_Student_Management_System.Models.UniAdmin

@{
    ViewBag.Title = "User Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>User Page</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.UniversityName)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.UniversityName)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.EmailAddress)</dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        @*<dt class="col-sm-3">Another term</dt>
        <dd class="col-sm-9">This definition is short, so no extra paragraphs or anything.</dd>

        <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
        <dd class="col-sm-9">This can be useful when space is tight. Adds an ellipsis at the end.</dd>

        <dt class="col-sm-3">Nesting</dt>
        <dd class="col-sm-9">
            <dl class="row">
                <dt class="col-sm-4">Nested definition list</dt>
                <dd class="col-sm-8">I heard you like definition lists. Let me put a definition list inside your definition list.</dd>
            </dl>
        </dd>*@
    </dl>
    @*<dl class="dl-vertical">
            <dt>
                Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UniversityName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailAddress)
            </dd>

        </dl>*@
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
</p>
